

<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading">ArgMining 2021</h2>
            <h3 class="section-subheading text-muted">The 8th Workshop on Argument Mining, 2021</h3>
        </div>
        <div class="row text-left">
            <div class="col-md-12 content">
                
                <p class="text-muted">Argument mining (also known as “argumentation mining”) is a young and gradually maturing research area within computational linguistics (Stede and Schneider, 2018). At its heart, argument mining involves the automatic
                    identification of argumentative structures in free text, such as the conclusions, premises, and inference schemes of
                    arguments as well as their interrelations and counter-considerations.</p>
                    
                    <p class="text-muted">To date, researchers have investigated argument mining on genres such as legal documents (Mochales and
                    Moens, 2011; Ashley and Walker, 2013), product reviews (Villalba and Saint-Dizier, 2012; Passon et al., 2018),
                    news articles (Feng and Hirst, 2011; Al Khatib et al., 2016; Ein-Dor et al., 2020), online debates (Wachsmuth
                    et al., 2018), user-generated web discourse (Park and Cardie, 2014; Habernal and Gurevych, 2017), Wikipedia
                    articles (Levy et al., 2014; Rinott et al., 2015; Shnarch et al., 2018), academic literature (Lawrence et al., 2014;
                    Alliheedi et al., 2019), persuasive essays (Wachsmuth et al., 2016; Stab and Gurevych, 2017), tweets (Dusmanu
                    et al., 2017; Bosc et al., 2016), and dialogues (Budzynska et al., 2014; Al Khatib et al., 2018). Recently, also
                    argument quality assessment came into focus (Habernal and Gurevych, 2016; El Baff et al., 2018). In addition,
                    argument mining is inherently tied to stance and sentiment analysis, since every argument carries a stance towards
                    its topic, often expressed with sentiment (Somasundaran and Wiebe, 2010; Bar-Haim et al., 2017; Stede, 2020).</p>


                    <p class="text-muted">Argument mining gives rise to various practical applications of great importance. In particular, it provides
                    methods that can find and visualize the main pro and con arguments in a text corpus — or even on in an argument
                    search on the web — towards a topic or query of interest (Rinott et al., 2015; Wachsmuth et al., 2017; Stab et al.,
                    2018). In instructional contexts, written and diagrammed arguments represent educational data that can be mined
                    for conveying and assessing students’ command of course material (Ong et al., 2014).</p>
                    
                    <p class="text-muted">In information retrieval, argument mining is expected to play a salient role in the emerging field of conversational search. And with the IBM Debater Project, technology based on argument mining recently received a lot of
                    <a href="https://youtu.be/UeF_N1r91RQ" target="_blank">media attention</a>.</p>
                    
                    <p class="text-muted">While solutions to basic tasks such as component segmentation (Ajjour et al., 2017) and classification (Stab and Gurevych, 2017) slowly become mature, many tasks remain largely unsolved, particularly in more open
                    genres and topical domains. Success in argument mining requires interdisciplinary approaches informed by NLP
                    technology, theories of semantics, pragmatics and discourse, knowledge of discourse in application domains,
                    artificial intelligence, information retrieval, argumentation theory, and computational models of argumentation.
                </p>
            </div>
     
  
        </div>
    </div>
</section>