

<section class="page-section" id="about">
        <div class="row text-left">
            <div class="col-md-12 content">
      
                <p>Argument mining (also known as “argumentation mining”) is a young and gradually maturing research area within computational linguistics. At its heart, argument mining involves the automatic
                    identification of argumentative structures in free text, such as the conclusions, premises, and inference schemes of
                    arguments as well as their interrelations and counter-considerations. To date, researchers have investigated argument mining on genres such as legal documents, product reviews, news articles, online debates,
                    user-generated web discourse, Wikipedia articles, academic literature, persuasive essays, tweets, and dialogues. 
                    Recently, also argument quality assessment and generation came into focus. In addition, argument mining is inherently tied to stance and sentiment analysis, since every argument carries a stance towards
                    its topic, often expressed with sentiment.</p>
                    
                    <p>Argument mining gives rise to various practical applications of great importance. In particular, it provides
                    methods that can find and visualize the main pro and con arguments in a text corpus &mdash; or even on in an argument
                    search on the web &mdash; towards a topic or query of interest. In instructional contexts, written and diagrammed arguments represent educational data that can be mined
                    for conveying and assessing students’ command of course material. In information retrieval, argument mining is expected to play a salient role in the emerging field of conversational search. And with the IBM Debater Project, technology based on argument mining recently received a lot of
                    <a href="https://youtu.be/UeF_N1r91RQ" target="_blank">media attention</a>.</p>
                    
                    
                   <p>While solutions to basic tasks such as component segmentation and classification slowly become mature, many tasks remain largely unsolved, particularly in more open
                    genres and topical domains. Success in argument mining requires interdisciplinary approaches informed by NLP
                    technology, theories of semantics, pragmatics and discourse, knowledge of discourse in application domains,
                    artificial intelligence, information retrieval, argumentation theory, and computational models of argumentation.
                </p>
            </div>
     
  
        </div>
   
</section>
