

<section class="page-section" id="call">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Call for Paper</h2>
      </div>
      <div class="row text-left">
          <div class="col-md-12 content">
              <p class="text-muted">
 ArgMining 2021 invites the submission of long and short papers on substantial, original, and unpublished research in all aspects of argument mining.
The workshop solicits LONG and SHORT papers for oral and poster presentations, as well as DEMOS of argument/argumentation mining systems and tools.

The topics for submissions include but are not limited to:
  - Automatic identification of argument components (e.g., premises and conclusions), and relations between arguments (e.g., support and attack) in as well as across documents
  - Automatic assessment of properties of arguments and argumentation, such as argumentation schemes, stance, quality, and persuasiveness
  - Creation and evaluation of argument annotation schemes, developing automatic and semi-automatic argument annotation methods and tools, and building high-quality annotated datasets, benchmarks, and Knowledge graphs
  - Automatic retrieval, summarization, and generation of arguments
  - Applications of argument mining and computational argumentation to various domains and data such as social sciences and humanities texts, legal and technical documents, scientific papers, news corpora, Wikipedia articles, consumer reviews, user-generated content, and students’ written essays.
</p>
             
          </div>
   

      </div>
  </div>
</section>
