

<section class="page-section" id="committee">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Committee</h2>
          
      </div>
     
      <div class="row text-left">
          <div class="col-md-12 content">
            <h4 class="my-3 ">Organizing Committee</h4>
        
            </div>
        </div>
           
<div class="row mr-0 ml-0 ">
    <div class="card border-0 shadow  bg-white rounded col-auto mr-3 p-0 mb-3"  >
        <div class="row">
            <div class="col-auto">
                <img src="img/people/alkhatib.jpg" class="" alt="">
            </div>
            <div class="col-auto">
                <div class="card-block px-2">
                    <span class="row profile-card-title">Khalid Al-Khatib</span>
                    <span class="row profile-card-uni">Leipzig University</span> 
                    <img height="75px" src="img/logos/uni_leipzig.svg">
                </div>
            </div>
        </div>
    </div>



       <div class="card border-0 shadow  bg-white rounded col-auto  mr-3 p-0 mb-3"  >
        <div class="row">
            <div class="col-auto">
                <img src="img/people/hou.jpg" height="140px" class="" alt="Yufang Hou">
            </div>
            <div class="col-auto">
                <div class="card-block px-2">
                    <span class="row profile-card-title">Yufang Hou</span>
                    <span class="row profile-card-uni pb-1">IBM Research, Dublin, Ireland</span> 
                    <img  height="50px" src="img/logos/ibm.png" style="margin: 7px;">
                </div>
            </div>
        </div>
    </div>

    
       <div class="card border-0 shadow  bg-white rounded col-auto p-0 mb-3" >
        <div class="row">
            <div class="col-auto">
                <img src="img/people/stede.jpg" height="140px" class="" alt="Manfred Stede">
            </div>
            <div class="col-auto">
                <div class="card-block px-2">
                    <span class="row profile-card-title">Manfred Stede</span>
                    <span class="row profile-card-uni">Potsdam University, Germany</span> 
                    <img  src="img/logos/postdam.png" height="80px" style="margin-left: 7px;">
                </div>
            </div>
        </div>
    </div>


    </div>

   
        <br>
      <div class="row text-left content">
          <div class="col-md-12">
            <h4 class="my-3">Program Committee</h4>
            <ul class="text-muted">
              
              <li>Rahit Aharonov, IBM Research AI</li>
              <li>Carlos Alzate, AI Fund</li>
              <li>Kevin Ashley, University of Pittsburgh</li>
              <li>Roy Bar-Haim, IBM Research AI</li>
              <li>Katarzyna Budzynska, Polish National Academy of Science</li>
              <li>Elena Cabrio, CNRS, Inria, I3S, France</li>
              <li>Johannes Daxenberger, Technische Universitat Darmstadt</li>
              <li>Esin Durmus, Cornell University</li>
              <li>Annette Frank, University of Heidelberg</li>
              <li>Iryna Gurevych, Technische Universitat Darmstadt</li>
              <li>Ivan Habernal, Technische Universitat Darmstadt</li>
              <li>Xinyu Hua, Northeastern University</li>
              <li>Christopher Klamm, Technische Universitat Darmstadt</li>
              <li>Jonas Kuhn, University of Stuttgart</li>
              <li>John Lawrence, University of Dundee</li>
              <li>Diane Litman, University of Pittsburgh</li>
              <li>Elena Musi, Columbia University</li>
              <li>Joonsuk Park, University of Richmond</li>
              <li>Georgios Petasis, NCSR Demokritos, Greece</li>
              <li>Jodi Schneider, University of Illinois at UrbanaChampaign</li>
              <li>Benjamin Schiller, Technische Universitat Darmstadt</li>
              <li>Benno Stein, Bauhaus-Universitat Weimar</li>
              <li>Noam Slonim, IBM Research AI</li>
              <li>Nicolas Turenne, University of Paris-Est Marnela-Vallee</li>
              <li>Serena Villata, CNRS, France</li>
              <li>Henning Wachsmuth, Paderborn University</li>
              <li>Vern R. Walker, Maurice A. Hofstra University</li>
              <li>Zhongyu Wei, Fudan University</li>
              <li>Magdalena Wolska, Bauhaus-Universitat Weimar</li>



            </ul>
          </div>

      </div>
  </div>
</section>