






<section class="page-section" id="contact_us">
    <div class="container content">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
        </div>
        <div >
                
                <p class="text-muted">
                    <a class="btn-floating btn-lg btn-email" type="button" role="button" href="mailto:khalid.alkhatib@uni-leipzig.de&subject=[Argmining2021]"><i class="fas fa-envelope"></i></a>
                    <a href="mailto:khalid.alkhatib@uni-leipzig.de&subject=[Argmining2021]"><span class="glyphicon glyphicon-envelope"></span> khalid.alkhatib@uni-leipzig.de</a>
                </p>
     
  
        </div>
    </div>
  </section>

