
<section class="page-section" id="dates">
  <div class="container content">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Important Dates</h2>
          <h3 class="section-subheading text-muted"></h3>
      </div>
      <ul class="text">
        <li><b>Submission due:</b> August 20, 2021  **Extended Deadline**</li>
        <li><b>Notification of acceptance:</b> September 15, 2021</li>
        <li><b>Camera-ready papers due:</b> September 23, 2021</li>
        <li><b>Workshop:</b> November 10-11, 2021</li>
      </ul>

  </div>
</section>
