
 <div class="alert alert-primary" role="alert">
    <b>2 August 2021.</b> ArgMining2021 <b>Best Paper Award</b> will be Sponsored by <b>IBM</b>.
</div>

 <div class="alert alert-primary" role="alert">
    <b>2 August 2021.</b> We are delighted to announce that <a href="http://www0.cs.ucl.ac.uk/staff/a.hunter/"><b>Anthony Hunter</b></a> from University College London and <a href="https://web.eecs.umich.edu/~wangluxy/"><b>Lu Wang</b></a> from University of Michigan will give keynote talks at ArgMining2021.
</div>


 <div class="alert alert-primary" role="alert">
    <b>30 July 2021.</b> The paper <a href="index.html#dates"><b>submission deadline</b></a> is extended to 20th August.</div>
  

  <div class="alert alert-primary" role="alert">
    <b>13 April 2021.</b> The <a href="index.html#call"><b>Call For Paper</b></a> and <a href="index.html#dates"><b>Important Dates</b></a> are out.
  </div>

  <div class="alert alert-primary" role="alert">
    <b>12 April 2021.</b> The 1st shared task, <i>Quantitative Summarization – Key Point Analysis Shared Task</i>, is now online! Check <a href="shared_task_ibm.html#ibm"> <b>here</b></a>.
  </div>


<hr>

