
 <div class="alert alert-primary" role="alert">
    <b>30 July 2021.</b> The <a href="index.html#call">The paper submession deadline is extended to 20th Augest</div>
  

  <div class="alert alert-primary" role="alert">
    <b>13 April 2021.</b> The <a href="index.html#call"><b>Call For Paper</b></a> and <a href="index.html#dates"><b>Important Dates</b></a> are out!
  </div>

  <div class="alert alert-primary" role="alert">
    <b>12 April 2021.</b> The 1st shared task, <i>Quantitative Summarization – Key Point Analysis Shared Task</i>, is now online! Check <a href="shared_task_ibm.html#ibm"> <b>here</b></a>.
  </div>


<hr>

