
<section class="page-section" id="policy">
  <div class="container content">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">ACL Anti Harassment Policy</h2>
          <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
      </div>
      <div >
              
              <p class="text">We abide by the <a href="https://www.aclweb.org/adminwiki/index.php?title=Anti-Harassment_Policy" target="_blank">ACL anti-harassment policy</a>.
              </p>
   

      </div>
  </div>
</section>
