

<section class="page-section" id="previous_workshops">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Past Workshops</h2>
      </div>
      <div class="row  content">
        <div class="col-md-2 "></div>
          <div class="col-md-5 ">
            <h4 class="my-3 ">Past Workshops</h4>

            <ul class="text-muted">
              <li><a href="https://argmining2020.i3s.unice.fr/" target="_blank">Argmining 2020</a></li>
              <li><a href="https://events.webis.de/argmining-19/" target="_blank">Argmining 2019</a></li>
              <li><a href="https://www.research.ibm.com/haifa/Workshops/argmining18/index.shtml" target="_blank">Argmining 2018</a></li>
              <li><a href="https://argmining2017.wordpress.com/" target="_blank">Argmining 2017</a></li>
              <li><a href="http://argmining2016.arg.tech/" target="_blank">Argmining 2016</a></li>
              <li><a href="https://www.cs.cornell.edu/home/cardie/naacl-2nd-arg-mining/" target="_blank">Argmining 2015</a></li>
              <li><a href="https://www.uncg.edu/cmp/ArgMining2014/" target="_blank">Argmining 2014</a></li>
            </ul>
          </div>
     
            <div class="col-md-5">
              <h4 class="my-3 ">Past Workshop Proceedings</h4>
  
              <ul class="text-muted">
               <!--<li><a href="" target="_blank">Proceedings of Argmining 2020</a></li>--> 
                <li><a href="https://www.aclweb.org/anthology/volumes/2020.argmining-1/" target="_blank">Proceedings of Argmining 2020</a></li>
                <li><a href="https://www.aclweb.org/anthology/volumes/W19-45/" target="_blank">Proceedings of Argmining 2019</a></li>
                <li><a href="https://www.aclweb.org/anthology/volumes/W18-52/" target="_blank">Proceedings of Argmining 2018</a></li>
                <li><a href="https://www.aclweb.org/anthology/volumes/W17-51/" target="_blank">Proceedings of Argmining 2017</a></li>
                <li><a href="https://www.aclweb.org/anthology/volumes/W16-28/" target="_blank">Proceedings of Argmining 2016</a></li>
                <li><a href="https://www.aclweb.org/anthology/volumes/W15-05/" target="_blank">Proceedings of Argmining 2015</a></li>
                <li><a href="https://www.aclweb.org/anthology/volumes/W14-21/" target="_blank">Proceedings of Argmining 2014</a></li>
              </ul>
            </div>
            </div>
  </div>
</section>
