<h3 id="schedule">Schedule</h3>
<table class="program-table ">

    <tr class="program-day">
        <td colspan="4"> November 10, 2021 </td>
    </tr>

    <tr class="program-presentation-title">
        <td> 09:00 – 09:30</td>
        <td colspan="2"> Opening Remarks</td>
    </tr>
    <tr class="program-presentation-title">
        <td> 09:30 – 10:30</td>
        <td colspan="2"> Invited Talk: Towards Computational Persuasion for Behaviour Change Applications by <a href="http://www0.cs.ucl.ac.uk/staff/a.hunter/" target="blank">Anthony Hunter</a></td>
    </tr>
    <tr class="program-section-title">
        <td> 10:30 – 11:00</td>
        <td colspan="2"> Coffee Break</td>
    </tr>
    <tr class="program-session">
        <td>11:00–12:00</td>
        <td colspan="2"> Session 1 </td>
    </tr>
    <tr class="program-presentation-title">
        <td> 11:00 – 11:20</td>
        <td>long</td>
        <td> Multi-task and Multi-corpora Training Strategies to Enhance Argumentative Sentence Linking Performance
        </td>
    </tr>
    <tr class="program-speaker">
        <td></td>
        <td></td>
        <td> Muhammad Mahad Afzal Bhatti, Ahsan Suheer Ahmad and Joonsuk Park</td>
    </tr>
    <tr class="program-presentation-title">
        <td> 11:20 – 11:40</td>
        <td>long</td>

        <td> Argument Mining on Twitter: A Case Study on the Planned Parenthood Debate </td>
    </tr>
    <tr class="program-speaker">
        <td></td>
        <td></td>
        <td>Jan Wira Gotama Putra, Simone Teufel and Takenobu Tokunaga </td>
    </tr>
    <tr class="program-presentation-title">
        <td> 11:40 – 12:00 </td>
        <td>long</td>
        <td> Explainable Unsupervised Argument Similarity Rating with Abstract Meaning Representation and Conclusion
            Generation
        <td>
    </tr>
    <tr class="program-speaker">
        <td></td>
        <td></td>
        <td> Juri Opitz, Philipp Heinisch, Philipp Wiesenbach, Philipp Cimiano and Anette Frank </td>
    </tr>
    <tr class="program-section-title">
        <td> 12:00 – 13:00 </td>
        <td colspan="2"> Lunch Break </td>
    </tr>
    <tr class="program-session">
        <td>13:00 – 16:45</td>
        <td colspan="2"> Session 2 </td>
    </tr>
    <tr class="program-presentation-title">
        <td> 13:00 – 13:20 </td>
        <td>long</td>
        <td> Knowledge-Enhanced Evidence Retrieval for Counterargument Generation </td>
    </tr>
    <tr class="program-speaker">
        <td></td>
        <td></td>
        <td> Yohan Jo, Haneul Yoo, JinYeong Bak, Alice Oh, Chris Reed and Eduard Hovy </td>
    </tr>
    <tr class="program-presentation-title">
        <td> 13:20 – 13:40 </td>
        <td>long</td>
        <td> On Classifying whether Two Texts are on the Same Side of an Argument
    </tr>
    <tr class="program-speaker">
        <td></td>
        <td></td>
        <td> Erik Körner, Gregor Wiedemann, Ahmad Hakimi, Gerhard Heyer and Martin Potthast </td>
    </tr>
    <tr class="program-presentation-title">
        <td> 13:40 – 13:52</td>
        <td>short</td>
        <td> Multilingual Counter Narrative Type Classification </td>
    </tr>
    <tr class="program-speaker">
        <td></td>
        <td></td>
        <td> Yi-Ling Chung, Marco Guerini and Rodrigo Agerri </td>
    </tr>
    <tr class="program-presentation-title">
        <td> 13:52 – 13:64</td>
        <td>short</td>
        <td> Predicting Moderation of Deliberative Arguments: Is Argument Quality the Key? </td>
    </tr>
    <tr class="program-speaker">
        <td></td>
        <td></td>
        <td> Neele Falk, Iman Jundi, Eva Maria Vecchi and Gabriella Lapesa </td>
    </tr>
    <tr class="program-presentation-title">
        <td> 14:04 – 14:16</td>
        <td>short</td>
        <td> Self-trained Pretrained Language Models for Evidence Detection </td>
    </tr>
    <tr class="program-speaker">
        <td></td>
        <td></td>
        <td> Mohamed Elaraby and Diane Litman </td>
    </tr>
    <tr class="program-presentation-title">
        <td> 14:16 – 14:28</td>
        <td>short</td>
        <td> Multi-task Learning in Argument Mining for Persuasive Online Discussions </td>
    </tr>
    <tr class="program-speaker">
        <td></td>
        <td></td>
        <td> Nhat Tran and Diane Litman </td>
    </tr>
    <tr class="program-section-title">
        <td> 14:30 – 14:45</td>
        <td colspan="2"> Coffee Break </td>
    </tr>
    <tr class="program-presentation-title">
        <td> 14:45 – 16:15</td>
        <td colspan="2"> Panel Talks and Discussion
    </tr>
    <tr class="program-section-title">
        <td> 16:15 – 16:45</td>
        <td colspan="2"> Coffee Break </td>
    </tr>

    <tr class="program-session">
        <td>16:45–17:45</td>
        <td colspan="2"> Session 3 </td>
    </tr>
    <tr class="program-presentation-title">
        <td>16:45 – 17:05</td>
        <td>long</td>
        <td> Image Retrieval for Arguments Using Stance-Aware Query Expansion</td>
    </tr>

    <tr class="program-speaker">
        <td></td>
        <td></td>
        <td> Johannes Kiesel, Nico Reichenbach, Benno Stein and Martin Potthast</td>
    </tr>
    <tr class="program-presentation-title">
        <td>17:05 – 17:25</td>
        <td>long</td>
        <td>Is Stance Detection Topic-Independent and Cross-topic Generalizable? - A Reproduction Study</td>
    </tr>

    <tr class="program-speaker">
        <td></td>
        <td></td>
        <td>Myrthe Reuver, Suzan Verberne, Roser Morante and Antske Fokkens</td>
    </tr>
    <tr class="program-presentation-title">
        <td>17:25 – 17:45</td>
        <td>long</td>
        <td>Exploring Methodologies for Collecting High-Quality Implicit Reasoning in Arguments</td>
    </tr>

    <tr class="program-speaker">
        <td></td>
        <td></td>
        <td>Keshav Singh, Farjana Sultana Mim, Naoya Inoue, Shoichi Naito and Kentaro Inui</td>
    </tr>


    <tr class="program-day">
        <td colspan="4"> November 11, 2021 </td>
    </tr>

    <tr class="program-presentation-title">
        <td>09:00 – 10:00</td>
        <td colspan="2"> Invited Talk: Convince Me If You Can: Natural Language Generation for Argumentation by <a href="https://web.eecs.umich.edu/~wangluxy/" target="blank">Lu Wang</a></td>
        </tr>


    <tr class="program-session">
        <td>10:00–11:00</td>
        <td colspan="2"> Session 4 </td>
    </tr>

    <tr class="program-presentation-title">
        <td>10:00 – 10:20</td>
        <td>long</td>
        <td> Assessing the Sufficiency of Arguments through Conclusion Generation</td>
    </tr>
    <tr class="program-speaker">
        <td></td>
        <td></td>
        <td>Timon Gurcke, Milad Alshomary and Henning Wachsmuth</td>
    </tr>
    <tr class="program-presentation-title">
        <td>10:20 – 10:40</td>
        <td>long</td>
        <td> M-Arg: Multimodal Argument Mining Dataset for Political Debates with Audio and Transcripts</td>
    </tr>
    <tr class="program-speaker">
        <td></td>
        <td></td>
        <td>Rafael Mestre, Razvan Milicin, Stuart Middleton, Matt Ryan, Jiatong Zhu and Timothy J. Norman</td>
    </tr>
    <tr class="program-section-title">
        <td>10:40 – 11:00</td>
        <td colspan="2"> Coffee Break</td>
    </tr>


    <tr class="program-session">
        <td>11:00–12:00</td>
        <td colspan="2"> Session 5 </td>
    </tr>

    <tr class="program-presentation-title">
        <td>11:00 – 11:20</td>
        <td>long</td>
        <td> Citizen Involvement in Urban Planning - How Can Municipalities Be Supported in Evaluating Public
            Participation Processes for Mobility Transitions?</td>
    </tr>
    <tr class="program-speaker">
        <td></td>
        <td></td>
        <td>Julia Romberg and Stefan Conrad</td>
    </tr>
    <tr class="program-presentation-title">
        <td>11:20 – 11:40</td>
        <td>long</td>
        <td> Argumentation Mining in Scientific Literature for Sustainable Development</td>
    </tr>
    <tr class="program-speaker">
        <td></td>
        <td></td>
        <td>Aris Fergadis, Dimitris Pappas, Antonia Karamolegkou and Haris Papageorgiou</td>
    </tr>
    <tr class="program-presentation-title">
        <td>11:40 – 12:00</td>
        <td>long</td>
        <td> Bayesian Argumentation-Scheme Networks: A Probabilistic Model of Argument Validity Facilitated by
            Argumentation Schemes</td>
    </tr>
    <tr class="program-speaker">
        <td></td>
        <td></td>
        <td>Takahiro Kondo, Koki Washio, Katsuhiko Hayashi and Yusuke Miyao</td>
    </tr>
    <tr class="program-section-title">
        <td>12:00 – 13:00</td>
        <td colspan="2"> Lunch Break</td>
    </tr>
    <tr class="program-presentation-title">
        <td>13:00 – 14:30</td>
        <td colspan="2"> Shared Task Presentation</td>
    </tr>
    <tr class="program-section-title">
        <td>14:30 – 14:45</td>
        <td colspan="2"> Break</td>
    </tr>
    <tr class="program-presentation-title">
        <td>14:45 – 15:00</td>
        <td colspan="2"> Concluding Remarks</td>
    </tr>
</table>