

<section class="page-section" id="webis">
    <div class="container">

        <div class="text-center">
            <h2 class="section-heading text-uppercase">Shared Task</h2>
            <h3>Frame Identification </h3>
        </div>

        <!--content-->
        
   
<div class="alert alert-success" role="alert">
Please visit the shared task website: https://webis.de/events/argmining-21/
</div>
        
        <div class="row text-left ">
          <div class="col-md-12 content">
Framing is the process of selecting a subset from the set of available information, based on a certain guiding principle, and aiming for an effect on the target audience. In argumentation, framing is the process of emphasizing a specific aspect of a controversial topic to convince the audience. For example, when discussing the legalization of drugs, various aspects (called "frames" here) such as health, economics, or ethics may be emphasized. An explicit handling of framing (be it by its uncovering or by its introduction) is necessary for various computational argumentation tasks such as persuasiveness prediction and analysis, argument summarization, and argument search.

In this shared task, we seek systems that are able to choose the "primary frame" of a given argument from a set of provided candidate frames. We encourage all participants of this shared task to submit their work in the 'Argument Mining' workshop at EMNLP. The accepted submissions will be included in the workshop proceeding.


        </div>
    </div><!-- end of content-->



</div> <!-- end of container-->
</section>
