<!DOCTYPE html>
<html lang="en">
  {% include header.html %}
  <body id="page-top">
    
    {% include navbar.html %}
    <div class="container">
       <div class="social-media-div ">
        <a class="tw-ic mr-3" role="button" href="https://twitter.com/ArgMining_2021" target="_blank"><i class="fab fa-lg fa-twitter"> follow us @ArgMining_202</a></div>
      {{ content }}
    </div>
    {% include footer.html %}
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS
    <script src="assets/mail/jqBootstrapValidation.js"></script>
    <script src="assets/mail/contact_me.js"></script>-->
    <!-- Core theme JS-->
    <script src="/js/template.js"></script>
      </body>
  </html>
